<head>
<script type="text/javascript" src="js/mainCalendar.js"></script>
<script type="text/javascript">
(function() {
var params = {
	rssmikle_url: "https://www.google.com/calendar/feeds/6ensdcblttc8o97tsii76tia1c@group.calendar.google.com/public/basic?orderby=starttime&sortorder=ascending&max-results=5&futureevents=true",
	rssmikle_frame_width: "1900",
	rssmikle_frame_height: "900",
	rssmikle_target: "_blank",
	rssmikle_font: "Arial, Helvetica, sans-serif",
	rssmikle_font_size: "55",
	rssmikle_border: "off",
	responsive: "on",
	rssmikle_css_url: "",
	text_align: "center",
	text_align2: "center",
	corner: "off",
	scrollbar: "off",
	autoscroll: "on",
	scrolldirection: "down",
	scrollstep: "14",
	mcspeed: "5",
	sort: "New",
	rssmikle_title: "on",
	rssmikle_title_sentence: "",
	rssmikle_title_link: "",
	rssmikle_title_bgcolor: "#FF8000",
	rssmikle_title_color: "#FFFFFF",
	rssmikle_title_bgimage: "",
	rssmikle_item_bgcolor: "#FFFFFF",
	rssmikle_item_bgimage: "",
	rssmikle_item_title_length: "55",
	rssmikle_item_title_color: "#FF8000",
	rssmikle_item_border_bottom: "on",
	rssmikle_item_description: "on",
	item_link: "off",
	rssmikle_item_description_length: "150",
	rssmikle_item_description_color: "#666666",
	rssmikle_item_date: "",
	rssmikle_timezone: "Etc/CET",
	datetime_format: "%b %e, %Y %l:%M:%S %p",
	item_description_style: "html",
	item_thumbnail: "full",
	article_num: "3",
	rssmikle_item_podcast: "off",
	keyword_inc: "",
	keyword_exc: ""};

	feedwind_show_widget_iframe(params);})();

/*function alterText(){
/*		document.getElementById('hello').innerHTML = feedwind_show_widget_iframe(params);-->	}
	
*/
</script>	
<!-- </head>
 <body onload="javascript:alterText()">	<a id="hello">string here</a>
</body> -->


