html,body {
    height:100%;
    width:100%;
    position:relative;
}

h1 {
	color:red;
	font-size: 50px;
	margin-bottom: 20px;
}
p {
	font-size: 40px;
}

#background-carousel{
	background-image:url(http://www.wall321.com/thumbnails/detail/20120506/science%20minimalistic%20patterns%20vector%20templates%20physics%20mathematics%20taghvim%20jalali%201920x1080%20wallp_www.wall321.com_87.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}
.carousel,
.carousel-inner {
    width:100%;
    height:100%;
    z-index:0;
    overflow:hidden;
}
.item {
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    z-index:0;
}
 
#content-wrapper {
    position:absolute;
    z-index:1 !important;
    min-width:100%;
    min-height:100%;
}
.well {
    opacity:0.85;
    height: 100%;
}
.container2 {
	height: 92%;
	padding: 60px;
	margin: auto;	
}




.thumbnail {
    position: relative;
    height: 400px;
    overflow: hidden;
    margin: auto;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}
